.sidenav {
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f1f1f1;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav ul{
	padding-top: 50px;
	padding-left: 0;
}

.sidenav ul li{
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #2e3d98;
}

.sidenav ul li:first-child{
	border-top: 2px solid #2e3d98;
}

.sidenav a:hover{
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
.btn-menu{
	width: 100%;
	text-align: left;
}
}

.logo{
    width: 350px; /* You can set the dimensions to whatever you want */
    height: 350px;
    object-fit: cover;
}

.modal-body{
	padding: 0;
}

.modal-body .container{
	max-width: 700px;
	width: 100%;
}

.modal-body .container-fluid{
	padding: 0;
}

.modal-header{
	background-color: #2e3d98;
	color: #fff;
}
.modal-large{
	max-width:90%;
    width: 100%;
}
.modal-medium{
	max-width:60%;
    width: 100%;
}

input[type="text"]{
	background-color: #f1f1f1;
	width: 100%;
	height: 30px;
	border: 1px solid #d5d5d5;
	font-size: 13px;
}
input[type="date"]{
	background-color: #f1f1f1;
	width: 100%;
	height: 30px;
	border: 1px solid #d5d5d5;
	font-size: 13px;
}
.select_form{
background-color: #f1f1f1;
	width: 100%;
	height: 25px;
	border: 1px solid #d5d5d5;
	font-size: 13px;
}

.none{
	display: none;
}